@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Rajdhani:wght@300&display=swap');

:root {
    --main-font-family: 'Open Sans', sans-serif;
    --main-font-color: #10004f;
    --main-bg-color: #fc94b1;


}



.bannerHome {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
}

.bannerHome img {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.text-banner {
    position: absolute;
    top: 0;
    font-family: var(--main-font-family);
    width: 60%;
    left: 20px;
    top: 30px;
    color: var(--main-font-color);
}




.sub-menu li {
    color: var(--main-font-color);
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 0;
}

.content-filter {
    position: relative;
    bottom: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;



}



.input-filter {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-field {
    border-color: #e8114b;
}

.child-filter-content button {
    background-color: #e8114b;
    border-radius: 6px;
    border: none;
    padding: 8px 30px;
    color: white;
}

.cards-information {
    /* background-color: #e8114b; */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.info-card {
    height: 70px;
    /* width: 200px; */
    color: var(--main-font-family);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid gray 0.5px;
    border-radius: 8px;
}

.info-card p {
    margin-bottom: 0;
}

.icon-card {
    background-color: #eeedf9;
    border-radius: 100px;
    padding: 2px;
}



/* pagination */


.pagination {
    position: relative;
    display: flex;
    flex-direction: column;   
    justify-content: center; 
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}


.card-pagination {
    font-family: var(--main-font-family);
    color: var(--main-font-color);
}

.aaaaaaaaaaaaaa{
    margin-left: auto;
    margin-right: auto;
}

.contPagination {
    display: flex;
    justify-content: center;
}

.title-body {
   width: 90%;
    margin-left: auto;
    margin-left: auto;
    text-align: left;
    font-family: var(--main-font-family);

}

.textCity{
    margin-left: auto;
    margin-left: auto;
    text-align: left;
    font-family: var(--main-font-family);
}
.aditional{
    /* border:solid; */
    border-color: #10004f;
    color: white;
}

.child-aditional{
    /* border:solid 8px; */
    border-color: red;
    
    color: white;
}

.text-small-title{
    font-size: 10px;
}

.inputs-cont {
    /* border:solid 8px; */
    border-color: pink;
}

.title-body h3 {
    color: var( --main-font-color);

}



.card-pagination :hover {
    transform: rotate(0, 0, 10);
}

