.bannerPrincipal {
  background-image: url("./image/banner/banner1.jpg");
  background-size:cover; 

}

.btn-cties-home{
  background-color: #ff4b4b;
  color: white;
  position: relative;
  top: 67vh;
  right: 40vh;
  width: 20vh;
  border-radius: 15px 15px 15px 15px;
}
.carrouselHeader{
  width: 100%;
  height: auto;
}

.bodyOpacity{
  position: absolute !important;
  top:10vh;
  right: -25vh;
  width: 250vh;
  height: 100vh;
  background-color: black;
  opacity: 80%;
  z-index: 1;
}
/* **************************Navbar ***************************************************/
.navbar-nav{
  margin-right: 2vw;
  width: auto;
}
.link-vav {
  position: absolute;
  right: 30vh;
  top: 0.2vh;
  background-color: blue;
}
.navbar-button{  
  position: absolute;
  right: 25vh;
  top: 0.4vh;
  height: 2vh;  
}
.btn-nav {
  font-family: 'Acme', sans-serif;
  font-size: 3vh;
  background-color:#ff4b4b;
  color: white;
}
.btn-Login{
  background-color:white ;
  border-radius: 100%;
}

.nav-link :hover {
  background-color:#9cd5e4;
  color: #ff4b4b;
  }
  .login{       
    height: 6.5vh;
    padding: 0 !important;
    margin: 0 !important;
        
  }
  .icon-login{
    position: relative;
    background-color: transparent !important;
    height: 10vh;
    top: 0.5vh;
    padding: 1vh;
  }
  .logo{
    width:20vw;    
  }
  .colorChange{
    background-color:#fff5ee;
    height: 12vh;
    padding: 0;
    border: none;
    border-bottom: solid;
    border-bottom-color: #ff4b4b;
    
  }
  .prueba{
    background-color:transparent;
  }
  .navbar-toggler{
    margin-right: 4vw;
  }
  .signOut{
    background-color: #9cd5e4;
    position: relative;
    right: 0 !important;
    text-align: left;
    justify-content: right;      
  }
  .dropdown-menu[data-bs-popper] {
    top: 100% !important;
    right: 0 !important;
    margin-top: 0.125rem !important;
  }

   
  /* **************************Sign IN / UP ***************************************************/

  .FormulariosSig{ /*todo el componente de SIGNIN Y SIGNUP*/
    background-size: 100%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center 
   }
  .desespero{ /*DIV QUE ARROPA TODO EL FORM*/
    position: relative;
    display: flex;
    background-color: rgb(255,255,255,80%); 
    border: solid #ff4b4b;
    width: 40%;
    justify-content: center;
    align-items: center!important;
    border-radius: 15px;
   margin-top: 15vh;
   height: 10%;
  }
 
  .formSign{
    width: 95%;
    padding: 3vh;
    position: relative;
     
  }
  
  .helpForm{
    display: flex;
    padding: 2vh;
    align-items: center;
    background-color: #9cd5e4;   
    border-radius: 15px;    
  }
  .btn-signin{
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #ff4b4b;
    color: white;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  /*************************************signup*****************************/
 
  .form-SignUP{
    position: relative;
    background-color: rgb(125, 214, 229,70%);
    border: solid;
    border-radius: 15px;
    border-color: rgb(125, 214, 229,70%);
    width: 95%;
    padding: 2vh;
  }
 
  .btn-signUp{
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #ff4b4b;
    color: white;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .continer-signUp{
    display: flex;
    background-color:#9cd5e4;
    width: 100%;
  }
  .btn-face{
    border: solid;
    border-color: red;
    height: 2px;
    padding: 0;
  }
  /* **************************card more likes ***************************************************/
.iconos{
  justify-content: flex-end;
  align-items: flex-end;
}
.txt-more-like{
  justify-content: center;
  color: #ff4a48;
  font-family: Permanent Marker;
  margin-top: 2vh;
}
.cards-like h1{
  position:absolute;
  color: #fff5ee;
  text-align: center;
  width: 20vh;
  right: 1vh;
  
  }
  .cards-like .card-title{
    color: #ff4b4a;
  }
.cards-like .card {
/*   left: 3vw;
 */ 
  top: 2vw;
  padding: 8px;
  margin: 5px;
}
.cards-like {
  display: flex;
  justify-content: center;
  width: 80%;
  align-items: center;
  margin-top: 2vh;
  background-color: #9cd5e4;
/*   padding-left: 5vh;
 */  /* margin-left: 2vh;  */
  margin-bottom: 10vh;

}

.cards-like .item-card {
  border-radius: 15px 15px 15px 15px;
  margin: 2vh;
}
/* **************************card Cities ***************************************************/
.allCities{
 justify-content: center;
 margin-top: 10vh;
  
}
.busquedaCity{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
.nameCiudad{
  justify-content: center;
  font-family:lobster;
  background-color: hsl(188, 52%, 82%);
  margin-bottom: 0;
}
.allCities .card {
  border: none;
}

.card{
  width: 90%;
  padding: 0;
  margin: 0;
  border-radius: 25px;
  margin-right: 0;
  color: #ff4b4a;
  
}
.card .card-body{
  border-radius: 25px
}
.imagen-card{  
  border-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  ;}

.contenerdorInfoCity figure{
  position: relative;
cursor: pointer;
}
.contenerdorInfoCity figure img{
  transition: all 500ms ease-out;
}
.contenerdorInfoCity figure .capa{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(125, 214, 229, 0.7);  
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.contenerdorInfoCity figure:hover > .capa{
  opacity: 1;
  visibility: visible;

}
.imagen-card-cities {
  border-radius: 25px;
}
.cardsCities{
  width: 95vw;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.cityNoFind{
  margin-top: 2vw;
}


/****************************City***********************************************************/
.iconoBusqueda{
  position: absolute;
  top: 20px;
}

.NameCity{
  position: absolute;
  top: 30vh;
  right: 10vw;
  max-width: 40vw;
  font-size: 80px;
  margin-top: 2vh;

}

.contenido{
  margin-top: 5vh;
}
.informacionPrincipal{
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center !important;
}
.nameCountry{
 display: flex;
 justify-content: center;
 align-items: center;
 color: #ff4b4a;
 position: relative;
 font-size: 90px;
 
 
}
.descripcionCity h5{
  text-align: justify;
  text-justify: inter-word;
  padding: 2vw;
}
.descripcionCity{
  width: 40vw;
  border-radius: 15px;
  font-family: Dancing;
}
.whyCity{
  position: relative;
  left: 2vw;
  border-left-style: solid;
  padding: 2vh;
  width: 90%;
 
  color: #7dd6e5;
}
.whyCity h1{
  color: #ff4a48;
}
.listaDeImagenesCity{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  border-radius: 25px;
}
.importantInformation{
  position: relative;
  left: 2vw;
  width: 90%;
  border-left-style: solid;
  padding-left: 2vw;
  padding-right: 0;
  margin: 0;
  color: #7dd6e5;
  background-color: #fff4ee;
}
.importantInformation h1{
  color: #ff4a48;
}


  /* **************************Carousel Cities home ***************************************************/
.carouseL-city-home{
  
  height: 50vh;  
  width: 100%;
}
.infoCityCorusel{
  background-color:  rgb(128, 128, 128,55%);
  border-radius: 20px;
}
/********************* City **********************************/

.contenedorReview{
  justify-content: center;
  margin-top: 5vh;
}
.review{
 margin: 5vh;
}
.foto-usuario {
  border-radius: 100%;
  height: auto;
}
.moreReview{
  padding: 0.5vh !important;
  margin-top: 2vh !important;

}
.enlaceItinerary{
  margin-top: 1vh;
  align-items: center;
  justify-content: center;
}
.enlaceItinerary a {
  color: #ff4a48;
}
.contInfoImportant{
  justify-content: center; 
  width: 100%;  
}
.contInfoImportant .card-body{
  position: relative;
  width: 95%;  
  background-color: #fff4ee;
}
.contInfoImportant .card-title{
  background-color: #7dd6e5;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  padding: 1vh;
}
/***info importnte***/
.contInfoImportant .info{
  margin: 5vh;
  text-align: justify;
  text-justify: inter-word;
  border-style:hidden;
}
.contInfoImportant .card-img-top{
  width: 10vw;
  background-color: #7dd6e5;
}
/********Carousel****/
.react-multi-carousel-track li{
  padding: 2vw;
  margin-left: 1vw;
 
}
.itemItinerario {
display: flex;
flex-direction: column;
margin: 0;
padding: 0;
}
.itemItinerario li{
  position: relative;
  left: 0;
  width: 60%;
  padding: 0.5vh;
  margin: 0.5vh;
  padding-bottom: 2vh;
  padding-left: 0.5vw;
  background-color: #ff4a48;
  color: white;
  margin-bottom: 1vh;
  margin-top: 1vh;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.carouselItinerario{
  display: flex;
  justify-content: center;
}
/**************************comments**************************************/
.comments {
  background-color: #fff5ee;
  border-style: solid;
  border-color: #7dd6e5;;
  padding: 8px;
  overflow-y: auto;
  height: 350px;
}
.commentsA {
  background-color: #fff5ee;
  border-style: none;
  padding: 8px;
  overflow-y: auto;

}
.comments::-webkit-scrollbar {
  -webkit-appearance: none;
}

.comments::-webkit-scrollbar:vertical {
  width:10px;
}

.comments::-webkit-scrollbar-thumb {
  background-color: #ff6f6f;
  border-radius: 20px;
  border-right: 2px solid rgba(250, 230, 223, 0.9);
}
.colorLike{
  color: #ff4a48;
}

/* **************************FOOTER ***************************************************/
.footer{
  
  background-color:#fff5ee;
  margin-top: 1vh;
  color: #ff4b4a;
}
.footer a{
  color: black;
  text-decoration: none;
}
/***************************************media query****/
@media (min-width: 1024px) and (max-width:1183px){
  
  .logo{
    width:30vw;    
  }
  .desespero{
    width: 50%;
   }
   .FormulariosSig{
    justify-content: center!important;
   }

.menu-signUP{
  width: 80vw;
  background-color: white;
  opacity: 90%;}

.informacionPrincipal{
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  padding-right: 0;
  margin-left: 4vw;
  margin-top: 4vh;
}
.descripcionCity {
  width: 90vw;
  margin-bottom: 3vh;
}
.nameCountry {
  display: flex;
  justify-content: center;
  font-size: 80px;
}

.NameCity{
  position: absolute;
  top: 10vh;
  right: 5vw;
  width: 30vw;
  font-size: 25px;
  margin-top: 2vh;

}
.textSignUp{
  display: flex;
  flex-direction: column;
    
}

}

@media (min-width: 767px) and (max-width:1024px){
  
  .logo{
    width:30vw;    
  }
  .desespero{
    width: 80%;
   }
   .FormulariosSig{
    justify-content: center!important;
   }

.menu-signUP{
  width: 80vw;
  background-color: white;
  opacity: 90%;}

.informacionPrincipal{
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  padding-right: 0;
  margin-left: 4vw;
  margin-top: 4vh;
}
.descripcionCity {
  width: 90vw;
  margin-bottom: 3vh;
}
.nameCountry {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.NameCity{
  position: absolute;
  top: 10vh;
  right: 5vw;
  width: 30vw;
  font-size: 25px;
  margin-top: 2vh;

}
.textSignUp{
  display: flex;
  flex-direction: column;
    
}

}

@media (min-width: 413px) and (max-width:767px){
  .prueba{
    background-color: #fff5ee; 
         
  }
  .logo{
    width:30vw;    
  }
  .desespero{
    width: 80%;
   }
   .FormulariosSig{
    justify-content: center!important;
   }

.menu-signUP{
  width: 80vw;
  background-color: white;
  opacity: 90%;}

.informacionPrincipal{
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  padding-right: 0;
  margin-left: 4vw;
  margin-top: 4vh;
}
.descripcionCity {
  width: 90vw;
  margin-bottom: 3vh;
}
.nameCountry {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.NameCity{
  position: absolute;
  top: 10vh;
  right: 5vw;
  width: 30vw;
  font-size: 25px;
  margin-top: 2vh;

}
.textSignUp{
  display: flex;
  flex-direction: column;
    
}

}
/**** *************************************small ***/

@media (min-width: 0px) and (max-width: 413px) {
  .prueba{
    background-color: #fff5ee;    
  }
  .logo{
    width:30vw;    
  }
  .desespero{
   width: 90%;
   margin-top: 10vh;
  }
  .FormulariosSig{
    justify-content: center !important;
    width: 100%;
   }
  .form-SignUP{
    position: relative;
    width: 95%;
    height: 100%;
  }
  .btn-signUp{
    margin-top: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .informacionPrincipal{
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    padding-right: 0;
    margin-left: 4vw;
    margin-top: 1vh;
  }
  .descripcionCity {   
    width: 90vw;
    margin-bottom: 2px;
  }
  .nameCountry {
    display: flex;
    justify-content: center;
    font-size: 50px;
  }
  .NameCity{
    position: absolute;
    top: 5vh;
    right: 4vw;
    width: 40vw;
    font-size: 25px;
    margin-top: 2vh;
  
  }
  .textSignUp{
    display: flex;
    flex-direction: column;

  }
  }
  
